
        
   


body {
    resize: both;
    max-width: 100%;
    min-width: 600px;

    background-color: maroon;
    
    box-sizing: border-box;
    
}
h2{
    width: auto;
    height: auto;
}
h3{
    width: auto;
    height: auto;
}

fieldset{ 
    width: auto;
    display: grid;
    
    justify-content: center;
   
  
}

    

fieldset1{
    @media  screen and (min-width: 700px)  {

        width: auto;
        display: flex;
        flex-direction: row;
    }
    
   
 
 

}
fieldset1{
    @media  screen and (min-width: 700px)  {

        width: auto;
        display: flex;
        flex-direction:row;
       
    }
}




fieldset2 {
     background-color: black;
    border: double;
    border-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    



}



h4a {


    color: black;
    font-size: x-large;
 
 

}


h5a {
    color: black;
    font-size: x-large;


}

h6a {
    color: black;
    font-size: x-large;
}

h7a {
    color: black;
    font-size: x-large;
}
button{
    background-color: maroon;
}
button:hover{
    background-color: gold;
   
    
   

}
