body {
    background-color: maroon;
    
    box-sizing: border-box;
    
}

fieldset {
    background-color: black;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;


}



h1 {
    
    color: #ffa500;
    text-decoration-color:  maroon;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    

}

fieldset1 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

fieldset2 {
     background-color: black;
    border: double;
    border-color: gold;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    min-width: 562px;
    



}
fieldset2
 
             {
    

}


h4a {


    color: black;
    font-size: x-large;
 
 

}


h5a {
    color: black;
    font-size: x-large;


}

h6a {
    color: black;
    font-size: x-large;
}

h7a {
    color: black;
    font-size: x-large;
}
button{
    background-color: maroon;
}
button:hover{
    background-color: gold;
   
    
   

}
fieldset3{
    display: flex;
    flex-direction: row;
    -ms-grid-row-align: center;
    font-size: 36px;
}
