
        
   


body {
    resize: both;
    max-width: 100%;
    min-width: 600px;

    background-color: maroon;
    
    box-sizing: border-box;
    
}
h2{
    width: fit-content;
    height: fit-content;
}
h3{
    width: fit-content;
    height: fit-content;
}

    

fieldset1{
    @media  screen and (min-width: 600px)  {

        width: auto;
        display: flex;
        flex-direction:row;

    
   
 
 


fieldset1{
    @media  screen and (min-width: 600px)  {

        width: auto;
        display: flex;
        flex-direction:row;
       






fieldset2 {
     background-color: black;
    border: double;
    border-color: gold;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    min-width: 562px;
    



}



h4a {


    color: black;
    font-size: x-large;
 
 

}


h5a {
    color: black;
    font-size: x-large;


}

h6a {
    color: black;
    font-size: x-large;
}

h7a {
    color: black;
    font-size: x-large;
}
button{
    background-color: maroon;
}
button:hover{
    background-color: gold;
   
    
   

}
footer{ 
    
    height: 40px;
    display: flex;
    flex-direction: row;
    flex: content;
    justify-content: space-around;
    justify-content: space-evenly;
    
    font-size: 36px;

}}}